.board {
  border-collapse: collapse;
  margin: 1em auto;
  transition: all 0.5s ease-in;
}

.cell {
  border: solid 7px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-in;
}

.clickable:hover {
  cursor: pointer;
}

.piece {
  height: 2em;
  width: 2em;
  border: 0.2em solid;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s linear;
}
